<%- include('./partials/header'); %>
    <div class="container my-5 mx-auto text-center bg-light p-4 rounded">
        <h3 class="display-4">Welcome to Article GraphQl API</h3>
        <hr>
        <div class="group mt-4">
            <h4>API Endpoint</h4>
            <a class="btn btn-info text-white shadow" href="https://graphql-api.herokuapp.com/graphql" target="_blank">Read More</a>
        </div>
        <div class="group mt-3">
            <h4>Graphql Playground</h4>
            <a class="btn btn-danger text-white shadow" href="https://graphql-api.herokuapp.com/graphql-playground" target="_blank">Explore</a>
        </div>
    </div>
<%- include('./partials/footer'); %>